:root {
    --square-size: 150px;
    --square-gap: 10px;
    --neon-green: #39ff14;
    --neon-red: #da0606;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(61, 61, 61), #000);
    background-size: 200% 200%; 
    animation: gradientAnimation 10s ease infinite; 
    justify-content: center;
    align-items: center;
    color: #000;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 28px;
    font-weight: 900;
    color: #4ff32e;
}

.menu__list {
    display: flex;
    list-style: none;
}

.menu__list-item {
    margin-right: 20px;
}

.menu__list-link {
    font-size: 20px;
    color: #4ff32e;
    cursor: pointer;
    transition: all 0.3s;
}

.menu__list-link:hover {
    color: #44a132;
}

.container_main {
    width: 80%;
    height: 50%; 
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #222;
    position: fixed;
    top: 75px;
    width: 79%;
    z-index: 10;
}

#scaleRange {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ccc;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#scaleRange:hover {
    opacity: 1;
}

#scaleRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--neon-green);
    cursor: pointer;
    box-shadow: 0 0 10px var(--neon-green);
    border: 2px solid #000;
    border-radius: 50%;
}

#scaleRange::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--neon-green);
    cursor: pointer;
    box-shadow: 0 0 10px var(--neon-green);
    border: 2px solid #000;
    border-radius: 50%;
}

.Info_button {
    background-color: black;
    color: var(--neon-green);
    border: 2px solid var(--neon-green);
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
    margin: 10px 0;
}

.Info_button:hover {
    background-color: var(--neon-green);
    color: black;
    box-shadow: 0 0 10px var(--neon-green);
}

.Delete_Button {
    background-color: black;
    color: var(--neon-red);
    border: 2px solid var(--neon-red);
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
    margin: 10px 0;
}

.Delete_Button:hover {
    background-color: var(--neon-red);
    color: black;
    box-shadow: 0 0 10px var(--neon-red);
}

.squares-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--square-size, 150px), 1fr));
    gap: var(--square-gap, 10px);
    flex: 1;
    overflow: auto;
    padding: 20px; 
    background-color: #000000;
    height: calc(100% - 40px); 
    max-height: 70vh; 
}

.square {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.square-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8a8a8a; 
    transition: background-color 0.3s;
    box-shadow: 0 0 10px #8a8a8a;
}

.square-inner input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
    font-size: 1em;
    color: white;
    background-color: transparent;
    pointer-events: none; 
}

.square-inner input::placeholder {
    color: #aaa;
}

@keyframes neonGreenToBlack {
    0% {
        background-color: #39ff14;
    }
    50% {
        background-color: #37ff148f;
    }
    100% {
        background-color: #39ff14;
    }
}

.square-inner.done {
    animation: neonGreenToBlack 10s infinite;
}

.square-inner.missed {
    background-color: red; 
}

.square-inner.active input {
    pointer-events: auto; 
}

.scale {
    color: white;
    margin-left: 10px; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 20; 
    top: 85px; 
    right: 20px; 
    width: 150px; 
    background-color: black; 
    border: 2px solid var(--neon-green); 
    box-shadow: 0 0 10px var(--neon-green); 
    padding: 20px; 
    opacity: 0; 
    transform: translateY(-60px); 
    transition: opacity 0.5s, transform 0.5s; 
}

.modal-content {
    color: var(--neon-green); 
    text-align: center;
}

.modal.show {
    display: block; 
    opacity: 1; 
    transform: translateY(0); 
}

.close {
    color: var(--neon-green);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.text-fields {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.text-fields input {
    padding: 5px;
    font-size: 16px;
    width: 200px;
    border: none;
    outline: none;
    background: transparent;
    pointer-events: none;
    color: #333;
}